* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hamster_Container {
  width: 600px;
  height: 70vh;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 0 0;
}
.Hamster_Container .Hamster_Close_Box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.Hamster_Container .Hamster_Close_Box div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.Hamster_Container .Hamster_Close_Box button {
  width: 45px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
}
.Hamster_Container .Hamster_Close_Box h1 {
  color: white;
  text-transform: capitalize;
}
.Hamster_Container .User_Stock_Exchange_Box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  z-index: 2;
}
.Hamster_Container .User_Stock_Exchange_Box div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.Hamster_Container .User_Stock_Exchange_Box img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.Hamster_Container .User_Stock_Exchange_Box h3 {
  color: white;
}
.Hamster_Container .User_Stock_Exchange_Box button {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(27, 26, 26);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;
}
.Hamster_Container .User_Stock_Exchange_Box button img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Hamster_Container .User_Stock_Exchange_Box button:hover {
  background-color: rgb(39, 39, 39);
}
.Hamster_Container .Hamster_Box {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(22, 22, 22);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-top: 4px solid rgb(251, 255, 0);
  box-shadow: 0 0 60px rgb(255, 166, 0);
}
.Hamster_Container .Hamster_Box .Hour_Coin_Box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0 10px;
}
.Hamster_Container .Hamster_Box .Hour_Coin_Box div {
  flex: 25%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border-radius: 15px;
  background-color: rgb(34, 34, 34);
}
.Hamster_Container .Hamster_Box .Hour_Coin_Box div:first-child span:first-child {
  color: orange;
  font-size: 14px;
  font-weight: 600;
}
.Hamster_Container .Hamster_Box .Hour_Coin_Box div:first-child span:last-child {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.Hamster_Container .Hamster_Box .Hour_Coin_Box div:first-child span:last-child img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Hamster_Container .Hamster_Box .Hour_Coin_Box div:nth-child(2) span:first-child {
  color: rgb(85, 0, 255);
  font-size: 14px;
  font-weight: 600;
}
.Hamster_Container .Hamster_Box .Hour_Coin_Box div:nth-child(2) span:last-child {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.Hamster_Container .Hamster_Box .Hour_Coin_Box div:last-child span:first-child {
  color: rgb(68, 255, 0);
  font-size: 14px;
  font-weight: 600;
}
.Hamster_Container .Hamster_Box .Hour_Coin_Box div:last-child span:last-child {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.Hamster_Container .Hamster_Box .Hour_Coin_Box div:last-child span:last-child img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Hamster_Container .Hamster_Box .Hamster_Coin_Count {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Hamster_Container .Hamster_Box .Hamster_Coin_Count img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Hamster_Container .Hamster_Box .Hamster_Coin_Count span {
  font-size: 50px;
  color: white;
  font-weight: 600;
}
.Hamster_Container .Hamster_Box .Hamster_Level_Box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px;
}
.Hamster_Container .Hamster_Box .Hamster_Level_Box div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Hamster_Container .Hamster_Box .Hamster_Level_Box div span {
  color: white;
}
.Hamster_Container .Hamster_Box .Hamster_Level_Box div span span {
  color: gray;
}
.Hamster_Container .Hamster_Box .Hamster_Level_Box div:nth-child(2) {
  height: 20px;
  border-radius: 10px;
  background-color: rgb(41, 41, 41);
  border: 1px solid rgb(64, 64, 64);
  position: relative;
}
.Hamster_Container .Hamster_Box .Hamster_Level_Box div:nth-child(2)::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 80%;
  height: 100%;
  background: rgb(0, 255, 81);
  background: linear-gradient(90deg, rgb(0, 255, 64) 0%, rgb(1, 255, 171) 26%, rgba(201, 2, 190, 0.7959558824) 46%, rgba(159, 3, 148, 0.7539390756) 60%, rgba(78, 181, 242, 0.8043592437) 77%, rgb(7, 5, 138) 100%);
  border-radius: 10px;
}
.Hamster_Container .Hamster_Box .Hamster {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  cursor: pointer;
  background: rgb(26, 13, 117);
  background: linear-gradient(180deg, rgb(39, 27, 118) 25%, rgb(1, 36, 58) 51%, rgb(2, 2, 31) 100%);
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.766);
  align-items: center;
  transition: 0.4s;
}
.Hamster_Container .Hamster_Box .Hamster span {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 40px;
  z-index: 3;
  opacity: 0;
}
@keyframes show {
  0% {
    opacity: 0;
    top: 50%;
  }
  50% {
    opacity: 1;
    top: -20%;
    scale: 1.3;
  }
  100% {
    opacity: 0;
    top: -5%;
  }
}
.Hamster_Container .Hamster_Box .Hamster:active {
  transform: scale(1.05);
}
.Hamster_Container .Hamster_Box .Hamster img {
  content: url(./assets/hamster.png);
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 50%;
  background: rgb(0, 50, 80);
  box-shadow: inset 0 0 80px black;
  background: linear-gradient(90deg, rgb(0, 50, 80) 25%, rgb(1, 56, 88) 51%, rgb(2, 2, 31) 100%);
}
.Hamster_Container .Hamster_Box .Hamster_Energy_Boost_Box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.Hamster_Container .Hamster_Box .Hamster_Energy_Boost_Box button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  width: auto;
  height: auto;
  background: transparent;
  color: white;
  position: relative;
  border: none;
  cursor: pointer;
  padding: 10px;
  text-transform: capitalize;
}
.Hamster_Container .Hamster_Box .Hamster_Energy_Boost_Box button i {
  color: orange;
  font-size: 25px;
}
.Hamster_Container .Hamster_Box .Hamster_Energy_Boost_Box button img {
  position: absolute;
  width: 60px;
  height: 60px;
  left: -60%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}
.Hamster_Container .Hamster_Box .List {
  width: auto;
  height: auto;
  background-color: rgb(32, 32, 32);
  padding: 5px 15px;
  border-radius: 15px;
}
.Hamster_Container .Hamster_Box .List ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Hamster_Container .Hamster_Box .List ul li {
  width: 100px;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.Hamster_Container .Hamster_Box .List ul li:first-child a {
  background-color: rgb(19, 19, 19);
}
.Hamster_Container .Hamster_Box .List ul li a {
  width: 100%;
  display: block;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  color: white;
  text-transform: capitalize;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
}
.Hamster_Container .Hamster_Box .List ul li a i {
  font-size: 30px;
  color: gray;
}
.Hamster_Container .Hamster_Box .List ul li a img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=stle.css.map */